html
	head
		title Kick it with JS Drums!
		link(rel="stylesheet" href="../css/style.css")
	body
		header
			h1 Feel the rhythm in your keypresses...

		main
			p Use these!
			.allkeys
				.key
					p A CLAP
				.key
					p S HIHAT
				.key
					p D KICK
				.key
					p F OPENHAT
				.key
					p G BOOM
				.key
					p H RIDE
				.key
					p J SNARE
				.key
					p K TOM
				.key
					p L TINK

		footer
			h5 &copy; 2017 Developed by NoerGitKat. All Rights Reserved.