html
	head
		title Kick it with JS Drums!
		link(rel="stylesheet" href="../css/style.css")
	body
		header
			h1 Feel the rhythm in your keypresses...

		main
			p Use these!
			.allkeys
				.key(data-key="65")
					p A CLAP
				.key(data-key="83")
					p S HIHAT
				.key(data-key="68")
					p D KICK
				.key(data-key="70")
					p F OPENHAT
				.key(data-key="71")
					p G BOOM
				.key(data-key="72")
					p H RIDE
				.key(data-key="74")
					p J SNARE
				.key(data-key="75")
					p K TOM
				.key(data-key="76")
					p L TINK

		footer
			h5 &copy; 2017 Developed by NoerGitKat. All Rights Reserved.

		script(src="js/drums.js")